<h1>Are you <i>sure</i> that used bike you're buying isn't stolen?</h1>

<p>Online marketplaces like Craigslist, OfferUp, and eBay make it easy to find deals on pre-owned bicycles. Unfortunately, it's also very easy for criminals to sell stolen bikes. Verified Bike gives the opportunity for a seller to prove they are the rightful owner of a bicycle.<p>

<p id="howitworks"><h3>How it works</h3>

<ul>
<li> Owners uses their Bike Index account to verify a bike is theirs</li>
<li> Owner posts their online marketplace add which includes a Verified Bike link </li>
<li> Potential buyers see that the bike has been verified and can click on the provided link to ensure this bike is legitimately for sale.</li>
</ul>
</p>

<div id="visitoraction">
<% if user_signed_in? %>
Hey <%= current_user.name %>!<br/> <%= link_to 'Go to Your Dashboard', current_user %>.
<% else %>
<%= link_to signin_path do %>
<div id="signinbutton">
Ready to get started?<br/>
Sign In With<br/> <%= image_tag("bikeindexlogo_white_128.png") %>
</div>
<% end %>
</div>

<% end %>




