<% if user_signed_in? %>
 
  <li class='nav-item'><%= link_to 'Your Dashboard', current_user, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign Out', signout_path, class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign In', signin_path, class: 'nav-link'%></li>
<% end %>

